<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        <link href="{{ asset('bundles/inventory/css/bootstrap-cerulean.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/inventory/css/charisma-app.css') }}"   rel="stylesheet">
        <link href="{{ asset('front-end/bower_components/fullcalendar/dist/fullcalendar.min.css') }}"  rel='stylesheet'>
        <link href="{{ asset('front-end/bower_components/fullcalendar/dist/fullcalendar.print.min.css') }}" rel='stylesheet' media='print'>
        <link href="{{ asset('front-end/bower_components/chosen/chosen.css') }}" rel='stylesheet'>
        <link href="{{ asset('front-end/bower_components/jquery-colorbox/example3/colorbox.css') }}" rel='stylesheet'>
        <link href="{{ asset('front-end/bower_components/responsive-tables/responsive-tables.css') }}" rel='stylesheet'>
        <link href="{{ asset('front-end/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css') }}" rel='stylesheet'>
        <link href="{{ asset('bundles/inventory/css/jquery.noty.css') }}" rel='stylesheet'>
        <link href="{{ asset('bundles/inventory/css/noty_theme_default.css') }}" rel='stylesheet'>
        <link href="{{ asset('bundles/inventory/css/elfinder.min.css') }}" rel='stylesheet'>
        <link href="{{ asset('bundles/inventory/css/elfinder.theme.css') }}" rel='stylesheet'>
        <link href="{{ asset('bundles/inventory/css/jquery.iphone.toggle.css') }}" rel='stylesheet'>
        <link href="{{ asset('bundles/inventory/css/uploadify.css') }}" rel='stylesheet'>
        <link href="{{ asset('bundles/inventory/css/animate.min.css') }}" rel='stylesheet'>
        <link href="{{ asset('front-end/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') }}" rel='stylesheet'>
    </head>
    <body>
        <!-- topbar starts -->
        <div class="navbar navbar-default" role="navigation">

            <div class="navbar-inner tl-navigation">
                <button type="button" class="navbar-toggle pull-left animated flip">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> <img alt="Charisma Logo" src="{{ asset('bundles/inventory/img/logo20.png') }}" class="hidden-xs"/>
                    <span>TLS</span></a>

                <!-- user dropdown starts -->
                <div class="btn-group pull-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> {{ app.user.username }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    {% else %}
                        <a class="btn btn-sm btn-default dropdown-toggle" href="{{ path('fos_user_security_login') }}"> Se connecter</a>
                    {% endif %}
                </div>


                <ul class="collapse navbar-collapse nav navbar-nav top-menu pull-right">
                    <li>
                        <form class="navbar-search pull-left">
                            <input placeholder="Search" class="search-query input-sm form-control col-md-10" name="query"
                                   type="text">
                        </form>
                    </li>
                </ul>

            </div>
        </div>
        <!-- topbar ends -->
        <div class="ch-container">
            <div class="row">
                <div class="col-sm-2 col-lg-2">
                    <div class="sidebar-nav">
                        <div class="nav-canvas">
                            <div class="nav-sm nav nav-stacked">

                            </div>
                            <ul class="nav nav-pills nav-stacked main-menu">
                                <li class="nav-header">Menu</li>
                                <li><a class="ajax-link" href="/"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                                </li>
                                <li><a class="ajax-link" href="{{ path('category_index') }}"><i class="glyphicon glyphicon-th"></i><span> Catégorie</span></a>
                                </li>
                                <li><a class="ajax-link" href="{{ path('product_index') }}"><i
                                                class="glyphicon glyphicon-cog"></i><span> Produit</span></a></li>

                                <li><a class="ajax-link" href="{{ path('provider_index') }}"><img src="{{ asset('bundles/inventory/img/fournisseur_16x16.png') }}"><span> Fournisseur</span></a></li>
                                <li><a href="{{ path('client_index') }}"><i class="glyphicon glyphicon-user"></i><span> Client</span></a>
                                <li><a href="{{ path('model_index') }}"><i class="glyphicon glyphicon-cog"></i><span> Modèle de Pièces</span></a>
                                <li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i><span> Entrée</span></a>
                                <li><a href="{{ path('ordersale_index') }}"><i class="glyphicon glyphicon-trash"></i><span> Sortie</span></a>
                                </li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
                                    <li class="accordion">
                                        <a href="#"><i class="glyphicon glyphicon-cog"></i><span> Admin</span></a>
                                        <ul class="nav nav-pills nav-stacked">
                                            <li><a onclick="getPage('user_index')" href="#">Utilisateur</a></li>
                                            <li><a href="#">Child Menu 2</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="loding" class="col-lg-10 col-sm-10" hidden="hidden">
                    <img src="{{ asset('img/minload.gif') }}" alt="loding">
                </div>
                <div id="content" class="col-lg-10 col-sm-10">
                    <div class="alert alert-danger" id="flashError" hidden="hidden"></div>
                    <!-- content starts -->
                    {% block navigate %}{% endblock %}
                    {% block statistique %}{% endblock %}

                    {% block body %}{% endblock %}
                </div>
            </div>

        </div>

        <script src="{{ asset('js/functions.js') }}"></script>
        {% block javascripts %}{% endblock %}
        {# js #}
        <script src="{{ asset('js/ajax.js') }}"></script>

        {# Fosjsrouting #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <!-- external javascript -->
        <!-- jQuery -->
        <script src="{{ asset('front-end/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('front-end/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <script src="{{ asset('front-end/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>

        <!-- library for cookie management -->
        <script src="{{ asset('bundles/inventory/js/jquery.cookie.js') }}"></script>
        <!-- calender plugin -->
        <script src="{{ asset('front-end/bower_components/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('front-end/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>
        <!-- data table plugin -->
        <script src="{{ asset('bundles/inventory/js/jquery.dataTables.min.js') }}"></script>

        <!-- select or dropdown enhancer -->
        <script src="{{ asset('front-end/bower_components/chosen/chosen.jquery.js') }}"></script>
        <!-- plugin for gallery image view -->
        <script src="{{ asset('front-end/bower_components/jquery-colorbox/jquery.colorbox-min.js') }}"></script>
        <!-- notification plugin -->
        <script src="{{ asset('bundles/inventory/js/jquery.noty.js') }}"></script>
        <!-- library for making tables responsive -->
        <script src="{{ asset('front-end/bower_components/responsive-tables/responsive-tables.js') }}"></script>
        <!-- tour plugin -->
        <script src="{{ asset('front-end/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js') }}"></script>
        <!-- star rating plugin -->
        <script src="{{ asset('bundles/inventory/js/jquery.raty.min.js') }}"></script>
        <!-- for iOS style toggle switch -->
        <script src="{{ asset('bundles/inventory/js/jquery.iphone.toggle.js') }}"></script>
        <!-- autogrowing textarea plugin -->
        <script src="{{ asset('bundles/inventory/js/jquery.autogrow-textarea.js') }}"></script>
        <!-- multiple file upload plugin -->
        <script src="{{ asset('bundles/inventory/js/jquery.uploadify-3.1.min.js') }}"></script>
        <!-- history.js for cross-browser state change on ajax -->
        <script src="{{ asset('bundles/inventory/js/jquery.history.js') }}"></script>
        <!-- application script for Charisma demo -->
        <script src="{{ asset('bundles/inventory/js/charisma.js') }}"></script>
        <script>
          $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
          });
        </script>
    </body>
</html>
