{% extends 'base.html.twig' %}
{% block navigate %}
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Produit</a>
            </li>
            <li>
                <a href="#">modification</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <h1>Modification d'un produit</h1>
    <a class="btn btn-info btn-sm" href="{{ path('product_index') }}"><i class="glyphicon glyphicon-list"></i></a>
    <br>
    <br>
    <div class="form-group">
        <label class="control-label">Image</label><br>
        <img src="{{ asset(product.file.path~'/'~product.file.filename) }}" width="100">
    </div>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary btn-sm" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
{% endblock %}
