{% extends 'base.html.twig' %}
{% block navigate %}
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Produit</a>
            </li>
            <li>
                <a href="#">Liste</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <a class="btn btn-success btn-sm" href="{{ path('product_new') }}"><i class="glyphicon glyphicon-plus"></i></a>

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-th-list"></i> Liste des Produits</h2>

                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Référence</th>
                            <th>Désignation</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Catégorie</th>
                            <th>Fournisseur</th>
                            <th>Modèles</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                                <td>{{ product.reference }}</td>
                                <td>{{ product.designation }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.amount }}</td>
                                <td>{% if product.category %}{{ product.category.name }}{% endif %}</td>
                                <td>{% if product.provider %}{{ product.provider.name }}{% endif %}</td>
                                <td>
                                    <select class="form-control">
                                        {% for model in product.models  %}
                                            <option>{{ model.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><img src="{{ asset(product.file.path~'/'~product.file.filename) }}" width="30"></td>
                                <td class="center">
                                    <a class="btn btn-success" href="{{ path('product_show', { 'id': product.id }) }}">
                                        <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                                    </a>
                                    <a class="btn btn-info" href="{{ path('product_edit', { 'id': product.id }) }}">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                    </a>
                                    <a class="btn btn-danger" href="#">
                                        <i class="glyphicon glyphicon-trash icon-white"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
