{% extends 'base.html.twig' %}
{% block navigate %}
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Produit</a>
            </li>
            <li>
                <a href="#">détail</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
<div class="row">
    <div class="box col-md-12">
        <a class="btn btn-default" href="{{ path('product_index') }}"><i class="glyphicon glyphicon-list"></i></a><br>
        <br>
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-th"></i> Détail d'un produit</h2>
            </div>
            <div class="box-content">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th>Référence</th>
                        <td>{{ product.reference }}</td>
                    </tr>
                    <tr>
                        <th>Désignation</th>
                        <td>{{ product.designation }}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ product.price }}</td>
                    </tr>
                    <tr>
                        <th>Quantité</th>
                        <td>{{ product.amount }}</td>
                    </tr>
                    <tr>
                        <th>Catégorie</th>
                        <td>{% if product.category %}{{ product.category.name }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fournisseur</th>
                        <td>{% if product.provider %}{{ product.provider.name }}{% endif %}</td>
                    </tr>

                    <tr>
                        <th>Image</th>
                        <td><img src="{{ asset(product.file.path~'/'~product.file.filename) }}" width="30"></td>
                    </tr>
                    </tbody>
                </table>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger btn-sm" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </div>
        </div>


    </div>
</div>


{% endblock %}
