{% extends 'base.html.twig' %}
{% block navigate %}
    <div >
        <ul class="breadcrumb">
            <li>
                <a href="#">Modele</a>
            </li>
            <li>
                <a href="#">détail</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
<div class="row">
    <div class="box col-md-12">
        <a class="btn btn-default" href="{{ path('model_index') }}"><i class="glyphicon glyphicon-list"></i></a><br>
        <br>
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-th"></i> Détail d'un Modèle de prièces</h2>
            </div>
            <div class="box-content">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ model.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ model.name }}</td>
                    </tr>
                    <tr>
                        <th>Stock</th>
                        <td>{{ model.stock }}</td>
                    </tr>

                    </tbody>
                </table>
                {{ form_start(delete_form) }}
                <input class="btn btn-sm btn-danger" type="submit" value="Supprimer">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
